<h3 class="encryption">{{message.text}}</h3>

<form action="/decrypt" method="post">
    <label for="key">Fill in the key...</label>
    <input type="text" style="display:none" name="text" value="{{message.text}}">
    <input class="u-full-width" type="text" name="key" required placeholder="{{message.hint}}">
    <input type="submit" value="Decrypt" class="button-primary u-full-width">
    <button type="button" class="u-full-width" id="btn-wa">Share</button>
</form>



<script>
    console.log("{{ message.hint }}")
    const clickBtnWa = () => {
        let aLink = document.createElement('a');
        aLink.href =
            'whatsapp://send?text= ' + "{{ message.hint }}" + ' : ' + window.location.host + "/message/{{message.uuid}}";
        aLink.click();
    };
    const btnWa = document.getElementById('btn-wa');
    if (btnWa) {
        btnWa.addEventListener('click', clickBtnWa);
    }
</script>