<h3 class="encryption">{{message.text}}</h3>

<form action="/decrypt" method="post">
    <label for="key">Fill in the key...</label>
    <input type="text" style="display:none" name="text" value="{{message.text}}">
    <input class="u-full-width" type="text" name="key" required placeholder="{{message.hint}}">
    <input type="submit" value="Decrypt" class="button-primary u-full-width">
    <button type="button" class="u-full-width" id="btn-wa">Share WhatsApp</button>
    <button type="button" class="u-full-width" id="btn-tw">Share Twitter</button>
</form>



<script>
    console.log("{{ message.hint }}")
    const clickBtnWa = () => {
        let aLink = document.createElement('a');
        aLink.setAttribute('target', '_blank');
        aLink.href =
            'https://api.whatsapp.com/send?text= ' + "{{ message.hint }}" + ' : http://' + window.location.host + "/message/{{message.uuid}}";
        aLink.click();
    };
    const btnWa = document.getElementById('btn-wa');
    if (btnWa) {
        btnWa.addEventListener('click', clickBtnWa);
    }

    const clickBtnTw = () => {
        let aLink = document.createElement('a');
        aLink.setAttribute('target', '_blank');
        aLink.href =
            "https://twitter.com/intent/tweet?text=" + "http://" + window.location.host + "/message/{{message.uuid}}";
        aLink.click();
    };
    const btnTw = document.getElementById('btn-tw');
    if (btnTw) {
        btnTw.addEventListener('click', clickBtnTw);
    }

    if ("{{newMessage}}") {
        //add uuid of the message to the url if we arrive here from POSTing a new message.
        history.replaceState({}, "messagge", "/message/{{message.uuid}}");
    }

    // window.open("https://twitter.com/share?url="+encodeURIComponent(url));
</script>