<h3 class="encryption">{{message.text}}</h3>

<form action="/decrypt" method="post">
    <input type="text" style="display:none" name="text" value="{{message.text}}">
    <input type="text" name="key" required placeholder="{{message.hint}}">
    <input type="submit" value="Decrypt" class="button-primary">
</form>


<button id="btn-wa">Share</button>

<script>
    console.log("{{ message.hint }}")
    const clickBtnWa = () => {
        let aLink = document.createElement('a');
        aLink.href =
            'whatsapp://send?text= ' + "{{ message.hint }}" + ' : ' + document.location.href;
        aLink.click();
    };
    const btnWa = document.getElementById('btn-wa');
    if (btnWa) {
        btnWa.addEventListener('click', clickBtnWa);
    }
</script>