<h1> {{message.text}}</h1>
"{{ message.hint }}"

<form action="/decrypt" method="post">
    <input type="text" style="display:none" name="text" value="{{message.text}}">
    <input type="text" name="key">
    <input type="submit" value="Decrypt">
</form>


<button id="btn-wa">Share</button>

<script>
    console.log("{{ message.hint }}")
    const clickBtnWa = () => {
        let aLink = document.createElement('a');
        aLink.href =
            'whatsapp://send?text= ' + "{{ message.hint }}" + ' : ' + document.location.href;
        aLink.click();
    };
    const btnWa = document.getElementById('btn-wa');
    if (btnWa) {
        btnWa.addEventListener('click', clickBtnWa);
    }
</script>